:root {
  --blue: rgb(0, 140, 255);
}

.app {
  margin-top: 40vh;
}

/* Nav Bar */

.mobile_nav {
  display: none;
}

.navbar {
  background-color: black;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 2;
}

.standard_nav {
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: auto;
}

.nav_links {
  display: flex;
  list-style-type: none;
}

.nav_links > li {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_links > li > a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

/* nav links hover effect*/
.nav_links > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4vh;
  background: currentColor;
  color: var(--blue);

  transform: scaleX(0);
  transform-origin: left top;
  transition: transform 250ms ease-in-out;
}

.nav_links > li > a:hover::after {
  transform: scaleX(1);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .standard_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
  }

  .mobile_nav_links {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }

  .mobile_nav_links > li {
    font-weight: bold;
    font-size: 2vh;
  }

  .mobile_nav_links > li > a {
    color: #ffffff;
    text-decoration: none;
  }

  .about_text {
    max-width: 90%;
  }
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 1rem;
}

.name {
  font-size: 10vh;
  font-weight: bold;
}

.greeting {
  font-size: 5vh;
}

.desc_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.desc {
  margin-right: 1rem;
  font-size: 5vh;
}

.icons > svg {
  margin-right: 0.5rem;
}

/* About */

.about {
  /*background-color: red;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 40vh;
}

.pic > img {
  border-style: solid;
  border-width: 3px;
  border-color: var(--blue);
  margin: 10px;
}

.about_header {
  color: var(--blue);
  font-size: 5.5vh;
  font-weight: bold;
}

.about_text {
  max-width: 50%;
  font-size: 3vh;
}

/* Skills */

.skills {
  /*background-color: green;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.skills_header {
  font-size: 5.5vh;
  font-weight: bold;
  color: var(--blue);
}

.skills_grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills_grid > div {
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Project Card */

.project_card {
  width: 330px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 5px;
  border-color: var(--blue);
  border-style: solid;
  margin: 10px;
}

.project_name {
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.image_container {
  width: 100%;
}

.image_container > img {
  max-width: 100%;
  max-height: 100%;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: var(--blue);
}

.dropdown {
  width: 100%;
  position: relative;
}

.dropdown_button {
  background-color: white;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.slide-enter {
  height: 0px;
  position: absolute;
  background-color: var(--blue);
  color: white;
  opacity: 90%;
}

.slide-enter-active {
  height: 185px;
  position: absolute;
  background-color: var(--blue);
  color: white;
  opacity: 90%;
  transition: height 300ms ease;
}

.slide-enter-done {
  height: 185px;
  position: absolute;
  background-color: var(--blue);
  color: white;
  opacity: 90%;
}

.project_links {
  display: flex;
}

.link_button {
  width: 100px;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  text-align: center;
  margin: 1rem;
  position: relative;
  z-index: 1;
}

.link_button::after,
.dropdown_button::after,
.content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--blue);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.link_button:hover::after,
.dropdown_button:hover::after,
.content:hover::after {
  transform: scaleX(1);
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
}

.projects_desc {
  color: white;
  font-size: 3vh;
}

.projects_header {
  font-size: 5.5vh;
  font-weight: bold;
  color: var(--blue);
}

.project_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* SingleContact */

.content {
  width: 150px;
  height: 150px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
}

/* Contacts */

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts > h2 {
  color: var(--blue);
  font-weight: bold;
  font-size: 5.5vh;
}

.contacts_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
