:root {
  --iceBlue: rgb(0, 140, 255);
}

.app {
  margin-top: 40vh;
}

/* Nav Bar */

.mobile_nav {
  display: none;
}

.navbar {
  background-color: black;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 2;
}

.standard_nav {
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: auto;
}

.nav_links {
  display: flex;
  list-style-type: none;
}

.nav_links > li {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_links > li > a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

/* nav links hover effect*/
.nav_links > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4vh;
  background: currentColor;
  color: var(--iceBlue);

  transform: scaleX(0);
  transform-origin: left top;
  transition: transform 250ms ease-in-out;
}

.nav_links > li > a:hover::after {
  transform: scaleX(1);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .standard_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
  }

  .mobile_nav_links {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }

  .mobile_nav_links > li {
    font-weight: bold;
    font-size: 2vh;
  }

  .mobile_nav_links > li > a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
  }
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 1rem;
  margin-bottom: 40vh;
}

.name {
  font-size: 10vh;
  font-weight: bold;
}

.greeting {
  font-size: 5vh;
}

.desc_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.desc {
  margin-right: 1rem;
  font-size: 5vh;
}

.icons > svg {
  margin-right: 0.5rem;
}

/* About */

.space_about {
  height: 10vh;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 15vh;
}

@media only screen and (min-width: 992px) {
  .pic > img {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .pic > img {
    margin-bottom: 20px;
  }
}

.pic > img {
  border-style: solid;
  border-width: 3px;
  border-color: var(--iceBlue);
}

.about_header {
  color: var(--iceBlue);
  font-size: 5.5vh;
  font-weight: bold;
}

.about_text {
  max-width: 50%;
  font-size: 3vh;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 992px) {
  .about_text {
    max-width: 100%;
  }
}

/* Skills */

.skills {
  /*background-color: green;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}

.skills_header {
  font-size: 5.5vh;
  font-weight: bold;
  color: var(--iceBlue);
}

.skills_desc {
  color: white;
  font-size: 3vh;
  margin-left: 5px;
  margin-right: 5px;
}

.skills_grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 20px;
}

.skills_grid > div {
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Project Card */

.project_card {
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 5px;
  border-color: var(--iceBlue);
  border-style: solid;
  margin: 20px;
}

.project_name {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.project_info {
  font-size: 20px;
}

.image_container {
  width: 100%;
}

.image_container > img {
  width: 320px;
  height: 180px;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: var(--iceBlue);
}

.dropdown {
  width: 100%;
  position: relative;
}

.dropdown_button {
  background-color: white;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.slide-enter {
  opacity: 0;
  height: 0;
}

.slide-enter-active {
  height: 180px;
  position: absolute;
  background-color: var(--iceBlue);
  color: white;
  opacity: 0.9;
  transition: opacity 300ms, height 200ms;
  padding: 3px;
  line-height: 1.2;
}

.slide-enter-done {
  height: 180px;
  position: absolute;
  background-color: var(--iceBlue);
  color: white;
  opacity: 0.9;
  padding: 3px;
  line-height: 1.2;
}

.project_links {
  display: flex;
}

.link_button {
  width: 100px;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  color: black;
  text-align: center;
  margin: 1rem;
  position: relative;
  z-index: 1;
}

/* disable hover effects on mobile */
@media (hover: hover) {
  .link_button::after,
  .dropdown_button::after,
  .content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--iceBlue);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
  }

  .link_button:hover::after,
  .dropdown_button:hover::after,
  .content:hover::after {
    transform: scaleX(1);
  }
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
}

.projects_desc {
  color: white;
  font-size: 3vh;
  margin-left: 5px;
  margin-right: 5px;
}

.projects_desc > a {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--iceBlue);
  font-weight: bold;
}

.projects_desc > a:hover {
  color: var(--iceBlue);
}

.projects_header {
  font-size: 5.5vh;
  font-weight: bold;
  color: var(--iceBlue);
}

.project_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* SingleContact */

.content {
  width: 150px;
  height: 150px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
}

/* Contacts */

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts > h2 {
  color: var(--iceBlue);
  font-weight: bold;
  font-size: 5.5vh;
}

.contacts_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}
