/* Creates better sizing model. https://www.joshwcomeau.com/css/custom-css-reset/  for explanation*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  background: url("portfolio_bg.jpg") no-repeat center center fixed;
  scroll-behavior: smooth;
  background-size: auto;
}

body {
  font-family: "Abel", sans-serif;
}
